body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

.main{
    width: 80%;
    margin: 20px auto;
    border: 5px solid #fa1e0e;
    padding: 20px;
    background-color: #ffbe0f;
}

figure{
    margin: 0px;
    padding: 10px;
}

figure img{
   width: 100px;
}

ul{
    list-style: none;
    display: flex;
    margin: 0px;
}

li{
    margin: 20px;
    
}

li a{
    text-decoration: none;
    font-size: 25px;
    color: orangered;
    font-family: 'Lato';
    padding: 10px;
    
}

h2{
    margin-top: 10px;
    color: #e40017;
    font-style: Comic;
}

.header{
    background-color: yellow;
    color: black;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 3px 5px 10px gold;
    display: flex;
    align-items: center;
    justify-content: space-between;

} 

h3{
    color: #e40017;
}

.footer-p{
    border: 3px solid #f88f01;
    border-radius: 5px;
    background-color: gold;
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
}