body{
    font-style: italic;
}

.main{
    width: 80%;
    margin: 20px auto;
    border: 5px solid #fa1e0e;
    padding: 20px;
    background-color: #ffbe0f;
}

h2{
    margin-top: 0px;
    color: #e40017;
}

.header{
    background-color: yellow;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 5px 10px gold;
} 

h3{
    color: #e40017;
}

.footer-p{
    border: 3px solid #f88f01;
    border-radius: 5px;
    background-color: gold;
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
}